.error-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
    text-align: center;
    align-items: center;
}

.error-header {
    font-size: 1.75rem;
}

.error-image {
    width: 100%;
    max-width: 500px;
}

.error-details {
    font-size: 1.25rem;
}

.bold {
    font-weight: 700;
}