text {
    font: regular 10px sans-serif;
}

.result-chart-container {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.option-color-box {
    width: 1em;
    height: 1em;
}

#first-option-color {
    background-color: rgb(216, 118, 118);
}

#second-option-color {
    background-color: rgb(137, 137, 205);
}

.option-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-align: center;
}

.pie-chart {
    max-width: 300px;
}